.technologies-container {
  position: absolute;
  top: 0;
  right: 0.5em;
  width: 60rem;
  height: 100%;
  padding-right: 0rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 2rem;
  overflow: hidden;
  @media only screen and (max-width: 500px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
    padding: 0;
    right: 0;
    gap: 3rem;
    position: relative;
  }
  @media only screen and (min-width: 1024px) and (max-width: 1280px) {
    width: 35rem;
  }
  @media only screen and (min-width: 1366px) and (max-width: 1440px) {
    width: 50rem;
  }
  @media only screen and (min-width: 2304px) and (max-width: 2560px) {
    width: 70rem;
  }
  @media only screen and (min-width: 2880px) {
    width: 80rem;
  }
  @media only screen and (min-width: 3840px) {
    width: 80rem;
  }
  .technologies-title {
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
    @media only screen and (max-width: 500px) {
      font-size: 2.4rem;
      margin-top: 0.4rem;
      padding-left: 2.5rem;
    }
    @media only screen and (min-width: 1024px) and (max-width: 1280px) {
      font-size: 3rem;
    }
    @media only screen and (min-width: 1366px) and (max-width: 1440px) {
      font-size: 3.5rem;
    }
    @media only screen and (min-width: 2304px) and (max-width: 2560px) {
      font-size: 5rem;
    }
    @media only screen and (min-width: 2880px) {
      font-size: 6rem;
    }
    @media only screen and (min-width: 3840px) {
      font-size: 7rem;
    }
  }
  .technologies-globe-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    @media only screen and (max-width: 500px) {
      margin-top: 2rem;
      margin-right: 0rem;
      justify-content: center;
      align-items: flex-start;
      height: auto;
    }
    @media only screen and (min-width: 1024px) and (max-width: 1280px) {
      margin-top: 1rem;
      margin-right: 3rem;
    }
    @media only screen and (min-width: 1366px) and (max-width: 1440px) {
      margin-top: 1rem;
      margin-right: 4.5rem;
    }
    @media only screen and (min-width: 2304px) and (max-width: 2560px) {
      margin-right: 6rem;
    }
    @media only screen and (min-width: 2880px) {
      margin-right: 6rem;
    }
    @media only screen and (min-width: 3840px) {
      margin-right: 6rem;
    }
  }
  .bottom-line-technologies {
    position: absolute;
    bottom: 0rem;
    right: -0.4rem;
    background-color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    height: 0.1rem;
    width: 100%;
    @media only screen and (max-width: 500px) {
      display: none;
    }
  }
  .technologies-close-button {
    padding-bottom: 1rem;
    @media only screen and (max-width: 500px) {
      display: none;
    }
    @media only screen and (min-width: 1366px) and (max-width: 1440px) {
      padding-bottom: 1rem;
    }
    @media only screen and (min-width: 2304px) and (max-width: 2560px) {
      padding-bottom: 3rem;
    }
    @media only screen and (min-width: 2880px) {
      padding-bottom: 3rem;
    }
    @media only screen and (min-width: 3840px) {
      padding-bottom: 4rem;
    }
  }
  .technologies-bottom-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 15rem;
    align-items: flex-end;
    justify-content: space-between;
    @media only screen and (max-width: 500px) {
      height: 14rem;
      overflow: hidden;
      align-items: center;
      justify-content: center;
    }
  }
}
