.about-me-container {
  position: absolute;
  top: 0;
  left: 1rem;
  width: 40rem;
  height: 100%;
  padding-left: 1rem;
  @media only screen and (min-width: 3840px) {
    width: 80rem;
    padding-left: 3rem;
  }
  .about-me-title {
    font-size: 4rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
    @media only screen and (min-width: 3840px) {
      font-size: 7rem;
    }
  }
  .about-me-text {
    width: 100%;
    height: 85%;
    padding-top: 1rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .text-info {
      text-indent: 1em;
      color: rgba(255, 255, 255, 0.8);
      font-size: 2rem;
      line-height: 2.5rem;
      @media only screen and (min-width: 3840px) {
        font-size: 4rem;
        line-height: 4.5rem;
      }
    }
  }
  .bottom-line-about-me {
    position: absolute;
    left: -1.5rem;
    bottom: 0;
    height: 0.1rem;
    background-color: white;
    opacity: 85%;
  }
  .about-me-close-button {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    @media only screen and (min-width: 3840px) {
      bottom: 3rem;
    }
  }
}
