.experience-container {
  position: absolute;
  top: 0;
  left: 1rem;
  width: 35rem;
  height: 100%;
  @media only screen and (max-width: 500px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    padding: 0;
    left: 0rem;
    overflow-y: auto;
  }
  @media only screen and (min-width: 1024px) and (max-width: 1280px) {
    width: 30rem;
    padding-left: 0.5rem;
  }
  @media only screen and (min-width: 1366px) and (max-width: 1440px) {
    width: 35rem;
    padding-left: 0.5rem;
  }
  @media only screen and (min-width: 2304px) and (max-width: 2560px) {
    width: 50rem;
    padding-left: 3rem;
  }
  @media only screen and (min-width: 2880px) {
    width: 55rem;
    padding-left: 3rem;
  }
  @media only screen and (min-width: 3840px) {
    width: 70rem;
    padding-left: 3rem;
  }
  .experience-title {
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
    @media only screen and (max-width: 500px) {
      font-size: 2.4rem;
      margin-top: 0rem;
      padding-left: 2.5rem;
    }
    @media only screen and (min-width: 1024px) and (max-width: 1280px) {
      font-size: 3rem;
    }
    @media only screen and (min-width: 1366px) and (max-width: 1440px) {
      font-size: 3.5rem;
    }
    @media only screen and (min-width: 2304px) and (max-width: 2560px) {
      font-size: 5rem;
    }
    @media only screen and (min-width: 2880px) {
      font-size: 6rem;
    }
    @media only screen and (min-width: 3840px) {
      font-size: 7rem;
    }
  }
  .experience-text {
    width: 100%;
    height: 90%;
    padding-top: 5rem;
    padding-left: 1rem;
    @media only screen and (max-width: 500px) {
      padding-top: 4rem;
      padding-left: 2.5rem;
    }
    @media only screen and (min-width: 1024px) and (max-width: 1280px) {
      padding-top: 3rem;
      padding-left: 0.5rem;
    }
    @media only screen and (min-width: 1366px) and (max-width: 1440px) {
      padding-top: 2rem;
      padding-left: 0.5rem;
    }
    @media only screen and (min-width: 2304px) and (max-width: 2560px) {
      padding-top: 6rem;
      padding-left: 0.5rem;
    }
    @media only screen and (min-width: 2880px) {
      padding-top: 8rem;
      padding-left: 1rem;
    }
    @media only screen and (min-width: 3840px) {
      padding-top: 10rem;
      padding-left: 2rem;
    }
    .experience-item-container {
      display: flex;
      flex-direction: column;
      .item-wrapper {
        display: flex;
        flex-direction: column;
        .row-1 {
          display: flex;
          align-items: center;
          gap: 1.5rem;
          @media only screen and (max-width: 500px) {
            gap: 1rem;
          }
          @media only screen and (min-width: 1024px) and (max-width: 1280px) {
            gap: 1.2rem;
          }
          @media only screen and (min-width: 1366px) and (max-width: 1440px) {
            gap: 1.5rem;
          }
          @media only screen and (min-width: 2304px) and (max-width: 2560px) {
            gap: 2.5rem;
          }
          @media only screen and (min-width: 2880px) {
            gap: 2.8rem;
          }
          @media only screen and (min-width: 3840px) {
            gap: 3rem;
          }
          .circle {
            height: 1.5rem;
            width: 1.5rem;
            background-color: rgba(202, 198, 198, 0.473);
            border-radius: 50%;
            display: none;
            @media only screen and (max-width: 500px) {
              height: 1.4rem;
              width: 1.4rem;
            }
            @media only screen and (min-width: 2304px) and (max-width: 2560px) {
              height: 2.5rem;
              width: 2.5rem;
            }
            @media only screen and (min-width: 2880px) {
              height: 3rem;
              width: 3rem;
            }
            @media only screen and (min-width: 3840px) {
              height: 3.5rem;
              width: 3.5rem;
            }
          }
          span {
            color: rgba(255, 255, 255, 0.8);
            font-size: 1.8rem;
            display: none;
            height: 1.5rem;
            @media only screen and (max-width: 500px) {
              font-size: 1.6rem;
              height: 1.6rem;
            }
            @media only screen and (min-width: 1024px) and (max-width: 1280px) {
              font-size: 1.6rem;
              height: 1.6rem;
            }
            @media only screen and (min-width: 1366px) and (max-width: 1440px) {
              height: 1.8rem;
            }
            @media only screen and (min-width: 2304px) and (max-width: 2560px) {
              font-size: 2.5rem;
              height: 2rem;
            }
            @media only screen and (min-width: 2880px) {
              font-size: 3rem;
              height: 3rem;
            }
            @media only screen and (min-width: 3840px) {
              font-size: 3.5rem;
              height: 4rem;
            }
          }
        }
        .row-2 {
          display: flex;
          margin-left: 0.7rem;
          gap: 2rem;
          @media only screen and (max-width: 500px) {
            gap: 1.2rem;
            margin-left: 0.6rem;
          }
          @media only screen and (min-width: 1024px) and (max-width: 1280px) {
            gap: 1.5rem;
          }
          @media only screen and (min-width: 2304px) and (max-width: 2560px) {
            margin-left: 1.2rem;
            gap: 3rem;
          }
          @media only screen and (min-width: 2880px) {
            margin-left: 1.4rem;
            gap: 3rem;
          }
          @media only screen and (min-width: 3840px) {
            margin-left: 1.7rem;
            gap: 4rem;
          }
          .line {
            width: 0.2rem;
            height: 10rem;
            display: none;
          }
          .wrapper {
            display: flex;
            width: 100%;
            padding-top: 2rem;
            gap: 1.5rem;
            display: none;
            align-items: center;
            @media only screen and (max-width: 500px) {
              padding-top: 0rem;
              gap: 1.2rem;
            }
            @media only screen and (min-width: 1024px) and (max-width: 1280px) {
              padding-top: 0rem;
              gap: 1.2rem;
            }
            @media only screen and (min-width: 1366px) and (max-width: 1440px) {
              padding-top: 0rem;
              gap: 1.5rem;
            }
            @media only screen and (min-width: 2304px) and (max-width: 2560px) {
              padding-top: 0rem;
              gap: 2.5rem;
            }
            @media only screen and (min-width: 2880px) {
              padding-top: 0rem;
              gap: 3rem;
            }
            @media only screen and (min-width: 3840px) {
              padding-top: 3.5rem;
              gap: 4rem;
            }
            img {
              width: 5rem;
              height: 5rem;
              border-radius: 50%;
              cursor: default;
              @media only screen and (max-width: 500px) {
                width: 4.5rem;
                height: 4.5rem;
              }
              @media only screen and (min-width: 1024px) and (max-width: 1280px) {
                width: 4rem;
                height: 4rem;
              }
              @media only screen and (min-width: 2304px) and (max-width: 2560px) {
                width: 7rem;
                height: 7rem;
              }
              @media only screen and (min-width: 2880px) {
                width: 10rem;
                height: 10rem;
              }
              @media only screen and (min-width: 3840px) {
                width: 12rem;
                height: 12rem;
              }
            }
            .item-text {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              h2 {
                color: rgba(255, 255, 255, 0.7);
                font-size: 1.8rem;
                font-weight: 600;
                cursor: default;
                @media only screen and (max-width: 500px) {
                  font-size: 1.8rem;
                }
                @media only screen and (min-width: 1024px) and (max-width: 1280px) {
                  font-size: 1.6rem;
                }
                @media only screen and (min-width: 2304px) and (max-width: 2560px) {
                  font-size: 2.5rem;
                }
                @media only screen and (min-width: 2880px) {
                  font-size: 3rem;
                }
                @media only screen and (min-width: 3840px) {
                  font-size: 4rem;
                }
              }
              span {
                color: rgba(255, 255, 255, 0.6);
                font-size: 1.4rem;
                font-style: italic;
                @media only screen and (max-width: 500px) {
                  font-size: 1.4rem;
                }
                @media only screen and (min-width: 1024px) and (max-width: 1280px) {
                  font-size: 1.2rem;
                }
                @media only screen and (min-width: 2304px) and (max-width: 2560px) {
                  font-size: 2rem;
                }
                @media only screen and (min-width: 2880px) {
                  font-size: 2.4rem;
                }
                @media only screen and (min-width: 3840px) {
                  font-size: 3rem;
                }
              }
            }
          }
        }
      }
    }
    .experience-button-wrapper {
      display: flex;
      flex-direction: column;

      .line {
        width: 0.2rem;
        height: 2.5rem;
        background-color: rgba(202, 198, 198, 0.473);
        margin-left: 0.7rem;
        display: none;
        @media only screen and (max-width: 500px) {
          margin-left: 0.6rem;
        }
        @media only screen and (min-width: 2304px) and (max-width: 2560px) {
          margin-left: 1.2rem;
        }
        @media only screen and (min-width: 2880px) {
          margin-left: 1.4rem;
        }
        @media only screen and (min-width: 3840px) {
          margin-left: 1.7rem;
        }
      }
      .button-wrapper {
        display: flex;
        margin-left: 0.1rem;
        gap: 1rem;
        @media only screen and (min-width: 2304px) and (max-width: 2560px) {
          gap: 3rem;
        }
        @media only screen and (min-width: 2880px) {
          gap: 2.5rem;
        }
        @media only screen and (min-width: 3840px) {
          gap: 3rem;
        }
        .circle {
          height: 1.5rem;
          width: 1.5rem;
          background-color: rgba(202, 198, 198, 0.473);
          border-radius: 50%;
          display: none;
          @media only screen and (max-width: 500px) {
            height: 1.4rem;
            width: 1.4rem;
          }
          @media only screen and (min-width: 2304px) and (max-width: 2560px) {
            height: 2.5rem;
            width: 2.5rem;
          }
          @media only screen and (min-width: 2880px) {
            height: 3rem;
            width: 3rem;
          }
          @media only screen and (min-width: 3840px) {
            height: 3.5rem;
            width: 3.5rem;
          }
        }
        .animation-button {
          display: none;
          position: relative;
          width: 100%;
          .mobile-experience-info {
            display: none;
            opacity: 0;
            width: 87%;
            height: 10rem;
            background-color: white;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 2rem;
            overflow: hidden;
            padding: 1rem;
            flex-direction: column;
            justify-content: center;
            gap: 0.3rem;
            .line-1 {
              font-size: 1.6rem;
              text-align: left;
              white-space: nowrap;
              color: black;
              font-weight: 600;

              overflow: hidden;
            }
            .anim-typewriter {
              animation: typewriter 3s steps(44) 1.1s 1 normal both;
            }
            .anim-2-typewriter {
              animation: typewriter 3s steps(44) 3.9s 1 normal both;
            }
            .keep-in-touch {
              font-weight: 600;
              background-color: rgb(119, 203, 119);
              padding: 0.5rem;
              color: white;
            }
            @keyframes typewriter {
              from {
                width: 0;
              }
              to {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  .bottom-line-experience {
    position: absolute;
    left: -1.5rem;
    bottom: 0;
    height: 0.1rem;
    background-color: white;
    opacity: 85%;
    @media only screen and (max-width: 500px) {
      display: none;
    }
  }
  .experience-close-button {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    @media only screen and (max-width: 500px) {
      display: none;
    }
    @media only screen and (min-width: 2304px) and (max-width: 2560px) {
      bottom: 2rem;
    }
    @media only screen and (min-width: 2880px) {
      bottom: 3rem;
    }
    @media only screen and (min-width: 3840px) {
      bottom: 3rem;
    }
  }
  .experience-present-button {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: 7rem;
    height: 7rem;
    background: #334bd3;
    border: none;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 50%;
    @media only screen and (max-width: 500px) {
      display: none;
    }
  }
}
