.person-navigation-wrapper {
  position: absolute;
  top: 35rem;
  transform: rotate(-270deg);
  display: flex;
  gap: 5rem;
  @media only screen and (min-width: 3840px) {
    top: 75rem;
    left: 18rem;
  }
  span {
    color: rgba(255, 255, 255, 0.75);
    font-size: 3rem;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    @media only screen and (min-width: 3840px) {
      font-size: 6rem;
    }
  }
}
