.content-wrapper {
  min-width: 56rem;
  height: 70rem;
  display: flex;
  justify-content: center;
  position: relative;
  .person-wrapper {
    position: absolute;
    left: -0.5rem;
    width: 50%;
    height: 100%;
    z-index: 10;
  }
  .developer-wrapper {
    position: absolute;
    right: -0.5rem;
    height: 100%;
    width: 50%;
    z-index: 10;
  }
  .vertical-line {
    width: 0.2rem;
    background-color: white;
    opacity: 85%;
    height: 100%;
    margin: 0rem 0.5rem;
    z-index: 10;
  }
  .person-developer-content {
    position: absolute;
    right: -0.5rem;
    height: 100%;
    width: 50%;
    z-index: 1;
  }
  .text-wrapper {
    display: none;
    width: 38rem;
    position: absolute;
    top: 0;
    left: -50rem;
    height: 15rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 2rem;
    padding: 3rem;
    background: white;
    .line-1 {
      font-size: 2rem;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);
      color: black;
      width: 33rem;
      font-weight: 600;
    }
    /* Animation */
    .anim-typewriter {
      animation: typewriter 3s steps(44) 1.1s 1 normal both;
    }
    .anim-2-typewriter {
      animation: typewriter 3s steps(44) 3.9s 1 normal both;
    }
    @keyframes typewriter {
      from {
        width: 0;
      }
      to {
        width: 33rem;
      }
    }
    @keyframes show {
      from {
        opacity: 0;
      }
      to {
        opacity: 100%;
      }
    }
  }
  .text-dot-1 {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 16rem;
    left: -9rem;
    display: none;
  }
  .text-dot-2 {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 21rem;
    left: -3rem;
    display: none;
  }
  .text-dot-3 {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 25rem;
    left: 1rem;
    display: none;
  }
}
