.wrapper {
  width: 19rem;
  z-index: 0;
  @media only screen and (min-width: 3840px) {
    width: 39rem;
  }
}
.btn {
  position: relative;
  z-index: 5;
  border: 0;
  outline: 0;
}

.btn input {
  cursor: pointer;
}

.btn:hover {
  z-index: 15;
}

.btn:last-child {
  margin-bottom: 0;
}

.btn-click {
  cursor: pointer;
  border: 0;
  color: dark;
  background: transparent;
  border-radius: 1em;
  min-width: 1em;
  height: 4.25em;
  padding: 0;
  font-size: 1em;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
  will-change: transform;
  outline: 0;
  transform: translateZ(0) rotate(0.001deg);
  @media only screen and (min-width: 3840px) {
    height: 8em;
  }
}

.btn-click:hover {
  cursor: pointer;
}

.btn-normal .btn-click {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.225);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.225);
}

.btn-fill {
  background: #334bd3;
  position: absolute;
  width: 150%;
  height: 200%;
  border-radius: 50%;
  top: -50%;
  left: -25%;
  transform: translate3d(0, -76%, 0);
  will-change: transform;
  transition: background-color ease-in-out 0.25s;
}

.btn-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 2.5em;
  z-index: 2;
  color: white;
  position: relative;
  transform: rotate(0.001deg);
  pointer-events: none;
  will-change: transform, color;
  font-size: 18px;
  letter-spacing: -0.3px;
  font-weight: 400;
  @media only screen and (min-width: 3840px) {
    font-size: 30px;
  }
}

.btn-click:hover {
  text-decoration: none;
}
.btn-normal.active .btn-click .btn-text-inner {
  color: white;
}

.btn-normal.not-active .btn-click .btn-text-inner {
  transition: all 0.7s cubic-bezier(0.7, 0, 0.3, 1);
}

.btn-normal.active .btn-click .btn-fill {
  transform: translate3d(0, 0%, 0);
  background-color: dark;
}

.btn-normal.not-active .btn-click .btn-fill {
  background-color: dark;
  transition: all 0.7s cubic-bezier(0.7, 0, 0.3, 1);
}
